<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Biometric authentication permissions -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    
    <!-- For Android 6.0+ -->
    <uses-feature android:name="android.hardware.fingerprint" android:required="false" />
</manifest>
